<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
          
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="main.js"></script>
        
<script type = "text/javascript">
    function movepage_1(){
        location.href = "/test"; 
    }
    function movepage_2(){
        location.href="/send";
    }
    function movepage_3(){
        location.href = "/info";
    }
    function movepage_4(){
        location.href = "/intrro";
    }
  
</script>



</head>
<body>
<div id="wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">공자</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="" accesskey="2" title="">calendar</a></li>
				<li><a href="#" accesskey="3" title="">About Us</a></li>
				<li><a href="#" accesskey="4" title="">Careers</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
	<div id="banner">&nbsp;</div>
	
		<ul class="actions">
            
			<li><a href="#" class="button">대여정보</a><a href="/intro" class="button">공자소개</a></li>
		</ul>
	</div>
	<div id="extra" class="container">
		<div class="title">
			<h2>Praesent scelerisquet</h2>
			<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> </div>
		<div id="three-column">
			<div class="boxA">
				<div class="box" style="width: 270px; height: 210px;"> <div id="weather_icon"><section id="icon"></section></div>
					<form  class="search" id="search" role="search">
						<div id="weather">지역: <a id = "city"></a></div>
                        <div id="weather">현재 온도: <a id="temperature-celcius"></a></div> 
                        <div id="weather">습도: <a id = 'humidity'></a></div>
                        <div id="weather">전체: <a id= 'overall'></a></div>
					   
                        
					</form>   
				</div>
			</div>
			<div class="boxB">
				<div class="box" style="width: 270px; height: 210px;"> <img src="images/bicycle.png" alt ="bicycle rental place" width="100" hight="100">
					
					
                         <form action="/send" method = "post">
                            <select name="number">
                                <option>대여소번호</option>
                                <option value="106">106. 합정역 7번출구 앞</option>
                                <option value="116">116. 일진아이윌아파트 옆</option>
                                <option value="118">118. 광흥창역 2번출구 앞</option>
                                <option value="124">124. 서강대 정문 건너편</option>
                                <option value="128">128. 신촌역(2호선) 1번출구 옆</option>

                                <option value="144">144. 공덕역 8번출구</option>
                                <option value="162">162. 봉원고가차도 밑</option>
                                <option value="210">210. IFC몰</option>
                                <option value="212">212. 여의도역 1번출구 옆</option>
                                <option value="216">216. 삼부아파트1동 앞</option>

                                <option value="221">221. 여의도초교 앞</option>
                                <option value="222">222. 시범아파트버스정류장 옆</option>
                                <option value="247">247. 당산역 10번출구 앞</option>
                                <option value="259">259. 대방역6번출구</option>
                                <option value="302">302. 경복궁역 4번출구 뒤</option>

                                <option value="316">316. 종각역 1번출구 앞</option>
                                <option value="326">326. 안국역 5번출구 앞</option>
                                <option value="329">329. 청계2가 사거리 옆</option>
                                <option value="336">336. 티마크 호텔 앞</option>
                                <option value="340">340. 혜화동 로터리</option>

                                <option value="341">341. 혜화역 3번출구 뒤</option>
                                <option value="342">342. 대학로 마로니에공원</option>
                                <option value="346">346. 맥스타일 앞</option>
                                <option value="385">385. 종각역 5번출구</option>
                                <option value="501">501. 광진구의회 앞</option>

                                <option value="529">529. 장한평역 8번 출구 앞</option>
                                <option value="540">540. 군자역 7번출구 베스트샵 앞</option>
                                <option value="568">568. 청계8가사거리 부근</option>
                                <option value="639">639. 서울시립대 후문</option>
                                <option value="907">907. CJ 드림시티</option>
                            </select>
                            <br>
                            <input type = "submit" value="예측"><br>
                        </form>
                        
					
                          
                    
					
				</div>
			</div>
			<div class="boxC">
				<div class="box" style="width: 270px; height: 210px;"> <img src="images/calendar.png" alt ="calender" width="100" height="100">
					<input type = "button" value="예측하기" onclick="movepage_1()"/>
                    <input type = "button" value="대여소정보" onclick="movepage_3()"/>
                    
				</div>
			</div>
		</div>
	</div>

<div id="copyright" class="container">
	<p>&copy; Untitled. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
    
</html>